nav {
  background-color: #bface0;
  box-shadow: 2px 4px 5px #413f42;
}

.img1 {
  text-align: center;
}

.intro {
  color: #fff;
}
.navbar li a {
  text-align: left;
}

body {
  font-family: "comic sans ms";
}
.jumbotron {
  padding-top: 7rem;
  background-color: #bface0;
  color: #fff;
}

#downloadcv {
  background-color: #bface0;
}

.mysocialmedia img {
  background-color: black;
}

footer {
  background-color: #bface0;
}

footer a {
  text-decoration: none;
}

section {
  padding-top: 8rem;
}

.bi-instagram {
  color: #f9f9f9;
}

.bi-facebook {
  color: #f9f9f9;
}

.bi-github {
  color: #f9f9f9;
}

.bi-youtube {
  color: #f9f9f9;
}

.btn {
  background-color: #bface0;
  color: #ffff;
}

.btn:hover {
  background-color: #ebc7e8;
  color: #ffff;
}
